header {
    min-height: 100vh;
    overflow: hidden;
}
.home-content {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 5fr 7fr 2fr;
    min-height: 100vh;
}
.left-home {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
.left-home img {
    width: 35%;
    height: auto;
    border-radius: 40px;
    border: solid;
    outline: groove;
}
.right-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: self-start;
    gap: 10px;
}
.salute {
    color: var(--PRIMARY-TEXT);
    font-size: 3rem;
    margin: 0;
}
.name {
    color: var(--COLOR-SECONDARY);
    text-indent: 40px;
    font-size: 3rem;
    text-shadow: 1px 1px 1px var(--TEXT-SHADOW), 1px 1px 1px var(--TEXT-SHADOW),
        1px 1px 1px var(--TEXT-SHADOW);
    margin: 0;
}
.birth {
    align-self: flex-end;
    font-size: 1.6rem;
    color: var(--MODAL-TEXT);
    margin: 0;
}
.introduction {
    line-height: 2rem;
    font-size: 1.8rem;
    color: var(--PRIMARY-TEXT);
    margin: 0;
}
@media only screen and (max-width: 1480px) {
    .salute {
        font-size: 2rem;
    }
    .name {
        font-size: 2rem;
    }
    .birth {
        font-size: 1.1rem;
    }
    .introduction {
        line-height: 1.5rem;
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 1040px) {
    .left-home img {
        width: 45%;
    }
    .salute {
        font-size: 1.8rem;
    }
    .name {
        font-size: 1.8rem;
    }
    .birth {
        font-size: 1rem;
    }
    .introduction {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 780px) {
    .left-home img {
        width: 55%;
    }
    .salute {
        font-size: 1.5rem;
    }
    .name {
        font-size: 1.5rem;
    }
    .birth {
        font-size: 0.9rem;
    }
    .introduction {
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 440px) {
    header {
        margin: 15% 13%;
    }
    .home-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .left-home img {
        width: 48%;
    }
    .salute {
        font-size: 1.3rem;
    }
    .name {
        text-indent: 15px;
        font-size: 1.3rem;
    }
    .birth {
        font-size: 1rem;
    }
    .introduction {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 390px) {
    .salute {
        font-size: 1.2rem;
    }
    .name {
        font-size: 1.1rem;
    }
    .birth {
        font-size: 0.8rem;
    }
    .introduction {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 340px) {
    .salute {
        font-size: 1.1rem;
    }
    .name {
        text-indent: 5px;
        font-size: 1rem;
    }
}
