<div class="wrap-main-btn">
    <div id="roadMap" class="main-btn">
        <img
            src="/img/home/r2d2_1920w.png"
            alt="R2D2 RoadMap"
            loading="lazy"
            width="40"
            height="40"
        />
    </div>
    <div id="myModal" class="modal">
        <svg width="100%" height="auto" viewBox="0 0 710 180">
            <text x="10" y="20" fill="var(--MODAL-TEXT)">
                <tspan x="55" y="65">AWS</tspan>
                <tspan x="110" y="155">Semi Senior</tspan>
                <tspan x="255" y="65">Rust</tspan>
                <tspan x="335" y="155">Senior</tspan>
                <tspan x="380" y="65">Software Engineer</tspan>
            </text>
            <polyline
                points="19,100 90,100 95,75 100,100 180,100 185,125 190, 100 270, 100 275,75 280,100 360,100 365,125 370,100 450,100 455,75 460,100 660,100"
                fill="var(--SECONDARY-TEXT)"
                stroke="var(--COLOR-SECONDARY)"
                stroke-width="3px"
            />
            <circle
                cx="15"
                cy="100"
                r="10"
                fill="var(--SECONDARY-TEXT)"
                stroke="var(--COLOR-SECONDARY)"
                stroke-width="5px"
            />
            <polygon
                points="660,90  660,110 690,100"
                fill="var(--SECONDARY-TEXT)"
                stroke="var(--COLOR-SECONDARY)"
                stroke-width="5px"
            />
        </svg>
        <span id="closeModal" class="close">X</span>
    </div>
</div>
