<button id="openModal" class="open-button">Latest Path</button>
<dialog id="modal" class="modal">
    <form class="modal-form" method="dialog">
        <label
            >Pick a pickle:
            <select>
                <option value="hide">None</option>
                <optgroup label="Courses">
                    <option>Java</option>
                    <option>JavaScript</option>
                    <option>Solidity</option>
                    <option>Data Structure</option>
                    <option>AWS</option>
                    <option>DevOps</option>
                </optgroup>
                <optgroup label="Do it yourself">
                    <option>Portfolio</option>
                    <option>Viper</option>
                    <option>Google Maps API</option>
                    <option>Chicago Medical</option>
                </optgroup>
            </select>
        </label>
        <button id="confirmButton" value="default" class="confirm-button">Confirm</button>
    </form>
</dialog>
