<button id="openModal" class="open-btn">README</button>
<dialog id="modal" class="modal">
    <div class="read-me">
        <h1>
            Welcome to <span style="color: rgb(0, 128, 255)"><em>this</em></span
            ><span style="color: rgb(128, 255, 255)">.baby</span>
        </h1>
        <p>
            My digital playground where code comes to life. Explore a world of learning and
            innovation through my courses and projects.
        </p>
        <div>
            <h2>What You'll Find Here</h2>
            <ul>
                <li>
                    📚 <strong>Educational Journey:</strong> Follow my path of learning, where I
                    share the knowledge I've gained on this coding adventure.
                </li>
                <li>
                    💡 <strong>Projects Galore:</strong> Explore a collection of projects I've
                    crafted with care, from web applications to creative experiments.
                </li>
            </ul>
        </div>
        <p>
            Feel free to get in touch if you want to discuss collaborations, share ideas, or just
            chat about the tech universe. Let's connect and create together.
        </p>
        <p>
            I hope you enjoy your stay at <span style="color: rgb(0, 128, 255)"><em>this</em></span
            ><span style="color: rgb(128, 255, 255)">.baby</span>.
        </p>
        <button id="closeModal" class="close-btn">Close</button>
    </div>
</dialog>
