.about-life {
    padding: 0 10%;
    margin: 5rem 0;
}
.main-title {
    position: relative;
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    margin: 5rem;
    color: var(--COLOR-SECONDARY-TEXT);
}
.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}
.timeline-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem 1.2rem;
    border-radius: 30px;
    border-bottom: 2px solid var(--COLOR-AKA-TEXT);
    gap: 30px;
    background: var(--COLOR-BACKGROUND);
    transition: background 0.3s ease-in-out;
}
.image-container {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    width: 100%;
}
.image-container img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.item-duration {
    border-radius: 15px;
    padding: 0.4rem 0.8rem;
    font-size: 1.1rem;
    background-color: var(--COLOR-GREY);
    color: var(--COLOR-PRIMARY-TEXT);
    font-weight: 500;
}
.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.item-title {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 900;
    margin: 0;
    color: var(--COLOR-AKA-TEXT);
    text-shadow: 1px 1px 1px var(--COLOR-TEXT-SHADOW-2), 1px 1px 1px var(--COLOR-TEXT-SHADOW-2),
        1px 1px 1px var(--COLOR-TEXT-SHADOW-2);
}
a {
    text-decoration: none;
}
.item-link {
    text-transform: uppercase;
    padding: 1rem 0;
    font-size: 1.3rem;
    vertical-align: super;
    color: rgb(0, 0, 255);
    white-space: nowrap;
}
.item-description {
    text-indent: 22px;
    font-weight: 400;
    word-spacing: 2.6px;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin: 0;
    color: var(--COLOR-WHITE);
}
@media only screen and (max-width: 1480px) {
    .about-life {
        margin: 4rem auto;
    }
    .main-title {
        font-size: 1.8rem;
    }
    .timeline {
        gap: 2rem;
    }
    .timeline-item {
        padding: 1.3rem 1.1rem;
        gap: 20px;
    }
    .timeline-item img {
        width: 70px;
        height: 70px;
    }
    .item-duration {
        font-size: 0.8rem;
        padding: 0.3rem 0.7rem;
    }
    .item-title {
        font-size: 1.2rem;
    }
    .item-link {
        font-size: 0.9rem;
    }
    .item-description {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 1040px) {
    .main-title {
        font-size: 1.5rem;
    }
    .timeline {
        gap: 1.5rem;
    }
    .timeline-item img {
        width: 60px;
        height: 60px;
    }
    .item-duration {
        font-size: 0.7rem;
    }
    .item-title {
        font-size: 1rem;
    }
    .item-link {
        font-size: 0.75rem;
        padding: 0.5rem 0;
    }
    .item-description {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 780px) {
    .about-life {
        margin: 3rem auto;
    }
    .main-title {
        font-size: 1.4rem;
        margin: 3rem;
    }
    .timeline {
        grid-template-columns: repeat(1, 1fr);
    }
    .timeline-item {
        gap: 10px;
    }
    .timeline-item img {
        width: 40px;
        height: 40px;
    }
    .item-duration {
        font-size: 0.7rem;
    }
    .item-title {
        font-size: 1.1rem;
    }
    .item-description {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 440px) {
    .main-title {
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
    }
    .timeline-item {
        width: 75%;
        padding: 1rem 0.8rem;
        margin: 0 auto;
    }
    .timeline {
        gap: 1rem;
    }
    .item-duration {
        font-size: 0.6rem;
    }
    .item-title {
        font-size: 0.8rem;
        white-space: nowrap;
    }
    .item-link {
        font-size: 0.6rem;
    }
    .item-description {
        font-size: 0.85rem;
    }
}
@media only screen and (max-width: 390px) {
    .main-title {
        font-size: 1rem;
    }
    .item-title {
        font-size: 0.75rem;
    }
    .item-link {
        font-size: 0.55rem;
    }
    .item-description {
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 340px) {
    .item-title {
        font-size: 0.69rem;
    }
    .item-link {
        font-size: 0.48rem;
    }
    .item-description {
        font-size: 0.75rem;
    }
}
