.about-container {
    display: grid;
    grid-template-columns: 3fr 2fr 0.4fr;
    margin-top: 6%;
}
.aka {
    z-index: 2;
    position: absolute;
    justify-self: center;
    top: 5%;
    color: var(--COLOR-AKA-TEXT);
    font-weight: 500;
    font-size: 6rem;
    text-transform: uppercase;
}
.left-about {
    position: relative;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.story-title {
    text-align: center;
    color: var(--COLOR-SECONDARY);
    text-shadow: 1px 1px 1px var(--COLOR-TEXT-SHADOW), 1px 1px 1px var(--COLOR-TEXT-SHADOW),
        1px 1px 1px var(--COLOR-TEXT-SHADOW);
    font-size: 2.4rem;
    text-transform: uppercase;
    margin: 0;
}
.story {
    text-align: justify;
    font-variant: small-caps;
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: var(--COLOR-PRIMARY-TEXT);
    font-style: italic;
    margin: 0;
}
.right-about {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.bright-side {
    font-size: 2.1rem;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--COLOR-AKA-TEXT);
    margin: 0;
}
@media screen and (max-width: 1480px) {
    .left-about {
        gap: 20px;
    }
    .aka {
        font-size: 4.2rem;
    }
    .story-title {
        font-size: 1.9rem;
    }

    .story {
        font-size: 1.1rem;
    }
    .bright-side {
        font-size: 1.6rem;
        -webkit-text-stroke-width: 1.2px;
    }
}
@media only screen and (max-width: 1040px) {
    .aka {
        font-size: 2.9rem;
    }
    .left-about {
        width: 65%;
    }
    .story-title {
        font-size: 1.5rem;
    }
    .story {
        font-size: 1rem;
    }
    .bright-side {
        font-size: 1.17rem;
        -webkit-text-stroke-width: 0.8px;
    }
}
@media only screen and (max-width: 780px) {
    .aka {
        font-size: 2.1rem;
    }
    .story-title {
        font-size: 1.3rem;
    }
    .story {
        font-size: 0.9rem;
    }
    .bright-side {
        text-align: center;
    }
}
@media only screen and (max-width: 440px) {
    .about-container {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 15%;
        gap: 50px;
    }
    .left-about {
        gap: 15px;
    }
    .aka {
        font-size: 1.4rem;
    }
    .story-title {
        font-size: 1.2rem;
    }
    .right-about {
        justify-content: center;
    }
    .bright-side {
        font-size: 1.1rem;
        -webkit-text-stroke-width: 0.6px;
    }
}
@media only screen and (max-width: 390px) {
    .about-container {
        margin-top: 25%;
    }
    .aka {
        font-size: 1.2rem;
    }
    .story-title {
        font-size: 1.1rem;
    }
    .story {
        font-size: 0.85rem;
    }
    .bright-side {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 340px) {
    .about-container {
        gap: 30px;
    }
    .left-about {
        gap: 10px;
    }
    .aka {
        font-size: 1rem;
    }
    .story-title {
        font-size: 1rem;
    }
    .story {
        font-size: 0.8rem;
    }
    .bright-side {
        font-size: 0.8rem;
    }
}
