.about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 3% 8% 0 8%;
}
.aka {
    position: absolute;
    top: 3%;
    color: var(--COLOR-AKA-TEXT);
    font-weight: 500;
    font-size: 6rem;
    text-transform: uppercase;
}
.left-about {
    flex: 5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}
.story-title {
    text-align: center;
    color: var(--COLOR-SECONDARY);
    text-shadow: 1px 1px 1px var(--COLOR-TEXT-SHADOW), 1px 1px 1px var(--COLOR-TEXT-SHADOW),
        1px 1px 1px var(--COLOR-TEXT-SHADOW);
    font-size: 2.4rem;
    text-transform: uppercase;
    margin: 0;
}
.story {
    text-align: justify;
    font-variant: small-caps;
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: var(--COLOR-PRIMARY-TEXT);
    font-style: italic;
    margin: 0;
}
.right-about {
    flex: 4;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.bright-side {
    font-size: 2.1rem;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--COLOR-AKA-TEXT);
    margin: 0;
}
@media screen and (max-width: 1480px) {
    .left-about {
        gap: 20px;
    }
    .aka {
        font-size: 4.2rem;
    }
    .story-title {
        font-size: 1.9rem;
    }

    .story {
        font-size: 1.1rem;
    }
    .bright-side {
        font-size: 1.6rem;
        -webkit-text-stroke-width: 1.2px;
    }
}
@media only screen and (max-width: 1040px) {
    .about-me {
        gap: 2rem;
    }
    .aka {
        font-size: 2.9rem;
    }
    .story-title {
        font-size: 1.5rem;
    }
    .story {
        font-size: 0.9rem;
    }
    .bright-side {
        font-size: 1.1rem;
        -webkit-text-stroke-width: 0.8px;
    }
}
@media only screen and (max-width: 780px) {
    .about-me {
        gap: 1rem;
        margin: 3% 10%;
    }
    .aka {
        font-size: 2.1rem;
    }
    .story-title {
        font-size: 1.3rem;
    }
    .story {
        font-size: 0.9rem;
    }
    .bright-side {
        text-align: center;
    }
}
@media only screen and (max-width: 440px) {
    .about-me {
        margin: 10% 12% 0 12%;
        flex-direction: column;
        gap: 3rem;
    }
    .aka {
        font-size: 1.4rem;
    }
    .story-title {
        font-size: 1.2rem;
    }
    .bright-side {
        font-size: 1.1rem;
        -webkit-text-stroke-width: 0.6px;
    }
}
@media only screen and (max-width: 390px) {
    .aka {
        top: 5%;
        font-size: 1.2rem;
    }
    .story-title {
        font-size: 1.1rem;
    }
    .story {
        font-size: 0.85rem;
    }
    .bright-side {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 340px) {
    .about-me {
        margin: 27% 12% 0 12%;
    }
    .aka {
        font-size: 1rem;
    }
    .story-title {
        font-size: 1rem;
    }
    .story {
        font-size: 0.8rem;
    }
    .bright-side {
        font-size: 0.8rem;
    }
}
