button {
    color: var(--PRIMARY-TEXT);
    background-color: var(--DIALOG-BUTTON);
    border-width: 3px;
    border-style: solid;
    border-color: var(--COLOR-SECONDARY);
    box-shadow: 0 0 3px var(--BOX-SHADOW);
    padding: 0.3em 0.6em;
    cursor: pointer;
}
button:hover {
    border-color: var(--NAVIGATION-PREV);
}
.open-button {
    z-index: 2;
    position: fixed;
    top: 35%;
    left: 3%;
    font-size: 1.1rem;
    font-weight: 500;
}
.modal {
    width: 25%;
    padding: 1.2rem;
    background-color: var(--BACKGROUND);
    border-width: 7px;
    border-style: solid;
    border-color: var(--COLOR-GREY);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.modal-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}
label {
    color: var(--COLOR-WHITE);
    font-weight: bold;
    font-size: 1.5rem;
    display: block;
    align-items: center;
}
select {
    width: 100%;
    padding: 0.4rem;
    margin-top: 0.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--COLOR-GREY);
    border-radius: 4px;
    font-size: 1.1rem;
    overflow-y: scroll;
}
optgroup {
    font-size: 1rem;
}
option {
    font-size: 0.9rem;
}
.confirm-button {
    justify-self: center;
    font-size: 1.3rem;
}
@media only screen and (max-width: 1480px) {
    .open-button {
        font-size: 0.8rem;
    }
    .modal {
        border-width: 6px;
    }
    label {
        font-size: 1.2rem;
    }
    select {
        padding: 0.3rem;
        font-size: 0.9rem;
    }
    .confirm-button {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 1040px) {
    .open-button {
        font-size: 0.7rem;
    }
    .modal {
        width: 30%;
    }
    .modal-form {
        gap: 1.2rem;
    }
    label {
        font-size: 1.1rem;
    }
    .confirm-button {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 780px) {
    .modal {
        width: 35%;
    }
    label {
        font-size: 1rem;
    }
    select,
    .confirm-button {
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 440px) {
    .open-button {
        top: 27%;
    }
    .modal {
        width: 60%;
        padding: 0.8rem;
    }
    .modal-form {
        gap: 1rem;
    }
}
@media only screen and (max-width: 390px) {
    button {
        border-width: 2px;
        padding: 0.3em 0.5em;
    }
    label {
        font-size: 0.9rem;
    }
}
