<div class="right-contact">
    <form class="contact-form" onsubmit="return false">
        <label for="subject">
            <input
                id="subject"
                name="subject"
                type="text"
                placeholder="Subject"
                data-words='["Hello Agustin!"]'
                required
            />
        </label>
        <label for="message">
            <textarea
                id="message"
                name="subject-text"
                placeholder="Message here..."
                required
            ></textarea>
        </label>
        <button id="mailSender" class="submit-btn" type="button">
            <span class="btn-text">Send</span>
        </button>
    </form>
</div>
