/* Global variables */
.light-theme {
    --color-primary: rgba(128, 128, 128, 0.1);
    --color-secondary: rgba(0, 101, 64, 0.945);
    --color-menu-button: rgb(0, 0, 0);
    --color-menu-background: rgba(53, 53, 53, 0.4);
    --color-bg-text: rgba(0, 13, 36, 0.88);
    --color-about-tittle: rgb(123, 17, 17);
    --color-about-text: rgb(255, 255, 255);
    --color-about-life: rgb(128, 128, 128);
    --color-contact-me: rgb(0, 65, 0);
    --color-grey-1: rgb(0, 0, 0);
    --color-grey-2: rgba(173, 82, 17, 0.616);
    --color-grey-3: rgb(108, 121, 131);
    --color-grey-4: rgb(49, 53, 57);
    --color-grey-5: rgba(88, 19, 19, 0.498);
    --color-grey-6: rgb(45, 58, 67);
    --color-h-shape: rgba(180, 180, 180, 0.222);
    --color-about: rgba(255, 255, 0, 0.6);
    --color-contact: rgba(255, 255, 255, 0.55);
    --color-theme-btn: rgba(255, 255, 0, 0.6);
    --color-theme-inverse: rgba(1, 1, 1, 0.788);
    --color-input-form: rgba(0, 13, 36, 0.369);
    --color-hover-portfolio: rgba(164, 164, 164, 0.15);
}

.dark-theme {
    --color-primary: rgba(0, 0, 0, 0.22);
    --color-secondary: rgba(158, 38, 38, 0.7);
    --color-menu-button: rgba(255, 255, 255, 0.9);
    --color-menu-background: rgba(187, 187, 187, 0.4);
    --color-bg-text: rgba(255, 255, 0, 0.6);
    --color-about-tittle: rgb(153, 21, 21);
    --color-about-text: rgb(255, 255, 255);
    --color-about-life: rgba(158, 38, 38, 0.7);
    --color-contact-me: rgb(65, 0, 0);
    --color-grey-1: rgba(255, 255, 255, 0.77);
    --color-grey-2: rgba(173, 82, 17, 0.616);
    --color-grey-3: rgb(108, 121, 131);
    --color-grey-4: rgb(30, 33, 35);
    --color-grey-5: rgba(0, 13, 36, 0.369);
    --color-grey-6: rgb(20, 30, 36);
    --color-h-shape: rgba(80, 80, 80, 0.533);
    --color-about: rgb(0, 21, 56);
    --color-contact: rgba(0, 0, 0, 0.77);
    --color-theme-btn: rgba(255, 255, 255, 0.55);
    --color-theme-inverse: rgb(1, 1, 1);
    --color-input-form: rgba(0, 13, 36, 0.369);
    --color-hover-portfolio: rgba(52, 52, 52, 0.334);
}

.light-theme {
    --INVERT-ICON: invert(0);
    --COLOR-PRIMARY: rgba(128, 128, 128, 0.32);
    --COLOR-SECONDARY: rgba(0, 101, 64, 0.945);
    --COLOR-PRIMARY-TEXT: rgb(0, 0, 0);
    --COLOR-SECONDARY-TEXT: rgba(255, 64, 64);
    --COLOR-MODAL-TEXT: rgb(136, 39, 0);
    --COLOR-GREY: rgba(182, 182, 182, 0.5);
    --COLOR-TEXT-SHADOW: rgb(0, 65, 0);
    --COLOR-AKA-TEXT: rgba(0, 13, 36, 0.88);
}

.dark-theme {
    --INVERT-ICON: invert(1);
    --COLOR-PRIMARY: rgba(0, 0, 0, 0.22);
    --COLOR-SECONDARY: rgba(158, 38, 38, 0.7);
    --COLOR-PRIMARY-TEXT: rgba(255, 255, 255, 0.9);
    --COLOR-SECONDARY-TEXT: rgba(255, 255, 128);
    --COLOR-MODAL-TEXT: rgb(255, 255, 128);
    --COLOR-GREY: rgba(49, 53, 57, 0.5);
    --COLOR-TEXT-SHADOW: rgb(65, 0, 0);
    --COLOR-AKA-TEXT: rgba(255, 255, 0, 0.8);
}
