.light-theme {
    --color-primary: rgba(128, 128, 128, 0.1);
    --color-secondary: rgba(0, 101, 64, 0.945);
    --color-menu-button: rgb(0, 0, 0);
    --color-menu-background: rgba(53, 53, 53, 0.4);
    --color-bg-text: rgba(0, 13, 36, 0.88);
    --color-about-tittle: rgb(123, 17, 17);
    --color-about-text: rgb(255, 255, 255);
    --color-about-life: rgb(128, 128, 128);
    --color-contact-me: rgb(0, 65, 0);
    --color-grey-1: rgb(0, 0, 0);
    --color-grey-2: rgba(173, 82, 17, 0.616);
    --color-grey-3: rgb(108, 121, 131);
    --color-grey-4: rgb(49, 53, 57);
    --color-grey-5: rgba(88, 19, 19, 0.498);
    --color-grey-6: rgb(45, 58, 67);
    --color-h-shape: rgba(180, 180, 180, 0.222);
    --color-about: rgba(255, 255, 0, 0.6);
    --color-contact: rgba(255, 255, 255, 0.55);
    --color-theme-btn: rgba(255, 255, 0, 0.6);
    --color-theme-inverse: rgba(1, 1, 1, 0.788);
    --color-input-form: rgba(0, 13, 36, 0.369);
    --color-hover-portfolio: rgba(164, 164, 164, 0.2);
}
.dark-theme {
    --color-primary: rgba(0, 0, 0, 0.22);
    --color-secondary: rgba(158, 38, 38, 0.7);
    --color-menu-button: rgba(255, 255, 255, 0.9);
    --color-menu-background: rgba(187, 187, 187, 0.4);
    --color-bg-text: rgba(255, 255, 0, 0.6);
    --color-about-tittle: rgb(153, 21, 21);
    --color-about-text: rgb(255, 255, 255);
    --color-about-life: rgba(158, 38, 38, 0.7);
    --color-contact-me: rgb(65, 0, 0);
    --color-grey-1: rgba(255, 255, 255, 0.77);
    --color-grey-2: rgba(173, 82, 17, 0.616);
    --color-grey-3: rgb(108, 121, 131);
    --color-grey-4: rgb(30, 33, 35);
    --color-grey-5: rgba(0, 13, 36, 0.369);
    --color-grey-6: rgb(20, 30, 36);
    --color-h-shape: rgba(80, 80, 80, 0.533);
    --color-about: rgb(0, 21, 56);
    --color-contact: rgba(0, 0, 0, 0.77);
    --color-theme-btn: rgba(255, 255, 255, 0.55);
    --color-theme-inverse: rgb(1, 1, 1);
    --color-input-form: rgba(0, 13, 36, 0.369);
    --color-hover-portfolio: rgba(164, 164, 164, 0.2);
}
:root {
    --COLOR-WHITE: rgb(255, 255, 255);
    --COLOR-BLACK: rgb(0, 0, 0);
    --PORTFOLIO-ITEM-WIDE: 600px;
    --PORTFOLIO-ITEM-TALL: 400px;
    /* --COLOR-GREY-RENAME: rgb(108, 121, 131); */

    --COLOR-STAR-WARS: rgb(255, 232, 31);
    --SABER-BLUE: rgb(0, 0, 255);
    --SABER-SKY-BLUE: rgb(0, 140, 255);
    --SABER-BLUE-2: rgb(46, 103, 248);
    --SABER-BLUE-3: rgb(21, 242, 253);
    --SABER-GREEN: rgb(0, 255, 0);
    --SABER-GREEN-2: rgb(0, 158, 39);
    --SABER-GREEN-3: rgb(33, 235, 82);
    --SABER-GREEN-4: rgb(0, 255, 140);
    --SABER-NEON-GREEN: rgb(180, 255, 0);
    --SABER-LIME: rgb(70, 255, 0);
    --SABER-MINT-GREEN: rgb(0, 255, 60);
    --SABER-SILVER-BLUE: rgb(100, 100, 200);
    --SABER-WHITE: rgb(150, 150, 150);
    --SABER-RED: rgb(235, 33, 46);
    --SABER-RED-2: rgb(255, 5, 5); /* ANH VADER */
    --SABER-BLOOD-ORANGE: rgb(255, 15, 0);
    --SABER-ORANGE: rgb(255, 30, 0);
    --SABER-GOLD: rgb(255, 180, 0);
    --SABER-PURPLE: rgb(155, 0, 255);
    --SABER-MAGENTA: rgb(220, 0, 255);
}
.light-theme {
    --INVERT-ICON: invert(0);
    --COLOR-PRIMARY: rgba(128, 128, 128, 0.32);
    --COLOR-SECONDARY: rgba(0, 101, 64, 0.945);
    --PRIMARY-TEXT: rgb(0, 0, 0);
    --PRIMARY-TEXT-INVERT: rgb(255, 255, 255);
    --SECONDARY-TEXT: rgba(255, 64, 64);
    --MODAL-TEXT: rgb(136, 39, 0);
    --COLOR-GREY: rgba(182, 182, 182, 0.6);
    --COLOR-GREY-2: rgb(40, 40, 40);
    --TEXT-SHADOW: rgb(0, 65, 0);
    --TEXT-SHADOW-2: rgb(128, 128, 128);
    --BOX-SHADOW: rgb(0, 65, 0);
    --AKA-TEXT: rgb(0, 51, 139);
    --BACKGROUND: rgb(133, 101, 101);
    --PROGRESS-SPAN: rgba(238, 109, 16, 0.9);
    --BACKGROUND-BUTTON: rgb(255, 136, 0);
    --NAVIGATION-PREV: rgb(0, 255, 0);
    --NAVIGATION-NEXT: rgb(0, 140, 255); /* to root */
    --DIALOG-BUTTON: rgba(255, 255, 255, 0.55);
}
.dark-theme {
    --INVERT-ICON: invert(1);
    --COLOR-PRIMARY: rgba(0, 0, 0, 0.22);
    --COLOR-SECONDARY: rgba(158, 38, 38, 0.7);
    --PRIMARY-TEXT: rgba(255, 255, 255, 0.9);
    --PRIMARY-TEXT-INVERT: rgb(0, 0, 0);
    --SECONDARY-TEXT: rgba(255, 255, 128); /* to root*/
    --MODAL-TEXT: rgb(255, 255, 128); /* to root*/
    --COLOR-GREY: rgba(49, 53, 57, 0.6); /* to root*/
    --COLOR-GREY-2: rgb(128, 128, 128);
    --TEXT-SHADOW: rgb(65, 0, 0);
    --TEXT-SHADOW-2: rgba(158, 38, 38, 0.7);
    --BOX-SHADOW: rgb(158, 38, 38);
    --AKA-TEXT: rgba(255, 232, 31);
    --BACKGROUND: rgb(17, 34, 51);
    --PROGRESS-SPAN: rgb(0, 140, 255); /* to root */
    --BACKGROUND-BUTTON: rgb(0, 0, 0);
    --NAVIGATION-PREV: rgb(255, 5, 5);
    --NAVIGATION-NEXT: rgb(0, 255, 0);
    --DIALOG-BUTTON: rgba(35, 35, 35, 0.9);
}
